@import "headerStyle";

.react-Dropdown {
  position: relative;

  .content {
    display: none;
    position: absolute;
    box-shadow: $headerShadow;
    top: 100%;
    width: 100%;

    a {
      height: $headerDropDownMenuHeight;
      line-height: $headerDropDownMenuHeight/3;
      word-break: break-word;
      text-align: center;
      flex: 0 0 auto;
      justify-content: center;
    }
  }
  &.mouseOver-true {
    box-shadow: $headerShadow;

    .content {
      display: flex;
      flex-direction: column;
    }

    > a {
      background-color: $headerMenuHoverColor;
    }
  }

  &.rightdrop .content {
    top: 0px;
    left: 100%;
  }
}
