@import "headerStyle";

.Logo {
  height: 100%;

  a {
    margin: $headerMargin 0 0;
    display: block;

    img {
      height: $headerLogoHeight;
      margin: $headerMargin 0 0;
      vertical-align: middle;
    }
  }
}
