@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.react-Menu {
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  z-index: 9999;
}

.react-MenuItem {
  flex: 0 0 auto;
  width: fit-content;
  padding: 0 8px;
  height: 100%;
  background-color: #2c3e50;
  color: white;
  font-size: 16px;
  border: none;
  word-break: break-all;
  cursor: pointer;
}

.react-MenuItem:hover {
  background-color: #212f3d;
}

.react-Menu .item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
