.SlideSelect {
  display: flex;

  table {
    flex-basis: 650px;
  }

  thead {
    align-content: center;
    background-color: #1a334c;
    font-size: 25px;
    color: white;
  }

  tr:nth-child(2n + 1) {
    height: 55px;
    font-size: 20px;
    background-color: white;
    margin-top: 1px;
  }

  tr:nth-child(2n) {
    height: 55px;
    font-size: 20px;
    background-color: #d3d9de;
  }
}
