/* #main a{
    color: rgb(0, 113, 216);
}

#main a:hover{
    color: rgb(255, 103, 103);
} */

.Courses .Home .wrap-subcontent {
  background-color: white;

  overflow: hidden;
  margin-bottom: 30px;
}

.Courses .Home h1 {
  margin-bottom: 15px;
}

.Courses .Home h2,
.Courses .Home h3,
.Courses .Home h4,
.Courses .Home p,
.Courses .Home li {
  margin-bottom: 12px;
  font-size: 15px;
  font-family: Tahoma, Arial, sans-serif;
}

.Courses .Home p {
  padding-left: 15px;
}

.Courses .Home h2 {
  color: rgb(156, 156, 156);
  margin: 10px 0;
  font-weight: bold;
  font-size: 30px;
}

.Courses .Home h3,
.Courses .Home h4 {
  font-size: 20px;
  font-weight: 100;
  width: 100%;
  padding-left: 10px;
  margin-top: 0px;

  background-color: rgb(211, 237, 245);
  color: black;
  line-height: 52px;
  height: 52px;
}

.Courses .Home li {
  margin: 13px 0;
  margin-left: 30px;
}

.Courses .Home ol,
.Courses .Home ul {
  margin-left: 30px;
  margin-bottom: 20px;
}

.Courses .Home .last {
  margin-bottom: 100px;
}

.Courses .Home ul {
  list-style-image: url("../assets/images/list-img.png");
}

.Courses .Home .display_none {
  display: none;
}

.Courses .Home #hl {
  height: 5px;
  padding: 0px;
  background-color: #70c8e9;
  clear: both;
}

.Courses .Home .emphasize {
  color: red;
  font-weight: bold;
}

.Courses .Home .nothing {
  list-style-type: none;
}

.Courses .Home li {
  padding: 0px;
}
