footer {
  width: 100%;
  min-width: 1300px;
  line-height: 65px;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(214, 214, 214);

  p {
    margin: 0px;
    font-size: 13pt;
    text-align: center;
    font-weight: 100;
    color: rgb(139, 139, 139);

    a {
      color: #18bc9c;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
