.Gallery {
  .Contents {
    display: flex;
    flex-wrap: wrap;

    .Item {
      margin: 5px 10px;
      width: 240px;

      img {
        width: 100%;
      }
    }
  }

  .btn-readmore {
    border: 1px solid skyblue;
    background-color: rgba(0, 0, 0, 0);
    color: skyblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 255px;
    height: 50px;
    font-size: 20pt;

    &:hover {
      color: white;
      background-color: skyblue;
    }

    &.active {
      display: none;
    }
  }
}
