header {
	height: 52px;
	width: 1145px;
	margin: 0 auto;
	/*min-width: 1280px;  width(.container) */
	/*background-color: #00abd9; #3399CC; */
	line-height: 52px;
}

header nav{
  position: fixed;
  top: 0px;
	width: 1125px;
  height: 52px;
  padding: 0px 10px;
	z-index: 1;
	position: absolute;
	background-color: #00abd9;
	border-radius: 0px 0px 5px 5px;
}

header .menu{
  margin: 0px;
  padding: 0px;
}