header {
	width: 100%;
	/*min-width: 1280px;  width(.container) */
	line-height: 65px;
	background-color: #2c3e50;
	position: sticky;
	top: 0;
}

header nav{
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	min-height: 65px;
	z-index: 1;
	background-color: #2c3e50;
}