.body {

    .container {
        background-color: #ECF0F1;
        height: 520px;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 52px;
        padding-bottom: 52px;
        border-radius: 10px;

        h1 {
            color: #2c3e50;
            font-size: 90pt;

            img {
                margin-right: 10px;
            }
        }

        p {
            color: #2C3E50;
            line-height: 1.4;
            font-size: 30px;
            font-weight: 200;
            margin-bottom: 15px;

            span {
                font-weight: bolder;
            }
        }
    }

    #contact {
        overflow: hidden;

        h1 {
            font-size: 48pt;
            font-weight: bold;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        #contact-container {

            margin: 40px;
            padding: 20px;
            overflow: hidden;
            box-shadow: inset 2px 2.2px 21px 0 rgba(0, 0, 0, 0.22);

            #map-container {
                width: 43%;
                height: auto;
                float: left;
                padding: 30px;

                #map {
                    width: 500px;
                    height: 500px;
                    background-color: greenyellow;
                }
            }

            #info-container {
                width: 43%;
                height: auto;
                float: right;
                padding: 30px;

                #info {
                    width: 500px;
                    height: 500px;

                    ul {
                        list-style: none;
                        padding-left: 0;
                        margin-top: 20px;

                        h3 {
                            font-weight: bold;
                            font-size: 16pt;
                        }

                        p {
                            padding-left: 40px;
                            font-size: 14pt;
                        }

                        hr {
                            height: 1.5px;
                            background-color: gray;
                        }
                    }
                }
            }

        }

    }
}