@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900italic);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Abel);

html{
	overflow-y: scroll;
}

body {
	background-color: #f2f2f2;
  font-family: "Roboto", "Nanum Gothic", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  margin: 0px;
}

main{
  width: 1145px;
  margin: 0 auto;
}

a:hover {
	text-decoration: none;
}

a {
	color: black;
	text-decoration: none;
}

h1 {
	font-size: 60px;
	color: #00abd9;
	margin: 20px 0 5px 0;
}

h2 {
	color: rgb(156, 156, 156);
	margin: 10px 0;
	font-weight: bold;
	font-size: 30px;
}

.container {
	padding: 0;
	margin: 0 auto;
	width:auto;
}

.contents {
	font-size: 15px;
	width: 1145px;
	margin: 0 auto;
	margin-bottom: 40px
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.inline-list > li {
  display: inline-block;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* for the disabled */
.assistive-text {
	text-indent: -9999px;
	font-size: 0;
}