#panel-body {
  width: fit-content;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;

  h2 {
    font-size: 32pt;
  }

  .InputGroup {
    margin-bottom: 20px;

    &#profile {
      display: flex;
      flex-direction: column;
    }
  }
}
