.Members .position{
	background-color: white;
	overflow: hidden;
	margin-bottom: 30px;
	border-radius: 3px;
}

.Members h2{
	font-size: 20px;
  font-weight: bold;
  width: 100%;
  padding-left: 10px;
  margin: 0;
  background-color:rgb(211, 237, 245);
  color: black;
  line-height: 52px;
  height: 52px;
}

.Members .human img{
	float: left;	

}

.Members .info li{
	word-break:break-all;
	line-height: 1;
}

.Members ul{
	margin: 0px;
	padding: 0px;
	list-style-image: url("../assets/images/list-img.png");
	float: left;
	line-height: 1;
	font-size: 15px;
}

.Members li{
	margin: 13px 0;
	margin-left: 30px;
	line-height: 1;
}

.Members .human{
	margin: 10px;
	overflow: hidden;
}

.Members .photo{
	display: inline;
	float: left;
}

.Members .name{
	margin-top: 5px !important;
	font-weight: bold;
	font-size: 20px;
}

.Members .edit{
	float: right;
	margin-top: 159px
}

.Members .photo{
	width: 140px;
	height: 175px;
}

.Members .interest{
	float: right;
	width: 550px;
	height: 175px;
}

.Members .interest li{
	line-height: 25px;
	margin-top: 5px;
}

.Members .interest li:nth-of-type(1){
	list-style: none;
	margin: 0px 0px 0px 12px;
}

.Members .info{
	float: left;
	width: 435px;
	height: 175px;
}
