.Members {
  margin-top: 40px;

  .position {
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 3px;

    #title_wrapper {
      // width: 100%;
      border-bottom: 1px solid gray;
      height: 63px;
    }

    h2 {
      font-size: 36pt;
      font-weight: bold;
      color: #008896;
      display: inline;
      padding: 0 20px 5px 20px;
      border-bottom: 5px solid #008896;
    }

    .profile-container {
      margin: 10px;
      margin-top: 30px;
      overflow: hidden;

      img {
        float: left;
      }

      ul {
        float: left;

        li {
          margin: 13px 0;
        }
      }

      .photo {
        width: 250px;
        height: 250px;
        border-radius: 5px;
      }

      .info {
        ul {
          list-style: none;
          margin-left: 0;

          a {
            color: #008896;
          }

          img {
            width: 16px;
            height: auto;
            margin-right: 3px;
          }

          .name {
            font-size: 26pt;
            font-weight: bold;
            margin-top: 5px;
            color: #2c3e50;
          }

          .info-position::first-letter {
            text-transform: capitalize;
          }
        }
      }

      div.career {
        float: right;
        width: 550px;

        ul {
          list-style: disc;

          li {
            line-height: 25px;
            margin-top: 10px;
          }

          li.career-title {
            font-size: 18pt;
            list-style: none;
            color: #2c3e50;
          }
        }
      }
    }
  }

  .Professor {
    .profile-container {
      .photo {
        width: 300px;
        height: 300px;
      }

      .info {
        ul {
          .name {
            font-size: 30pt;
          }
        }
      }
    }
  }
}