.Publications {
  li,
  ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0px;
  }

  li {
    padding: 10px;
  }

  .title {
    background-color: #1a334c;
    margin: 0px;
    padding: 8px;
    font-weight: bold;
    font-size: 12pt;

    color: rgb(255, 255, 255);
  }

  .list:nth-child(odd) {
    background: #d3d9de;
  }

  .list:nth-child(even) {
    background: white;
  }
}
