.Row_container {
  .Row_accordion {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;

    & > li {
      line-height: 300%;
      font-size: 20px;
      flex-basis: 800px;
      background-color: #ecf0f1;
      border-right: 1px solid slategray;
      border-bottom: 1px solid slategray;
      padding-left: 20px;
      padding-right: 20px;
      list-style: none;

      &.title {
        flex-basis: 800px;
        text-align: left;
      }

      &.name,
      &.date {
        flex-basis: 200px;
        text-align: center;
      }
    }
  }

  .Row_content {
    display: flex;
    width: 100%;
    min-height: 0px;
    font-size: 20px;
    text-align: center;
    background-color: slategrey;
    transition: height 0.5s;
    overflow-y: hidden;

    &.appear {
      height: 230px;
    }

    &.hide {
      height: 0px;
    }
  }

  &.disabled {
    .Row_accordion > li {
      background-color: #849ea5;

      &.title {
        text-align: center;
      }
    }
  }
}
