.Row ul {
  margin: 0;
  display: flex;
  /*flex했지뭐야~*/
}

.Row li.title {
  line-height: 300%;
  font-size: 20px;
  text-align: center;
  flex-basis: 800px;
  text-align: left;
  background-color: #ecf0f1;
  border-right: 1px solid slategray;
  border-bottom: 1px solid slategray;
  padding-left: 20px;
  padding-right: 20px;
}

.Row li.name {
  line-height: 300%;
  font-size: 20px;
  text-align: center;
  flex-basis: 200px;
  text-align: left;
  background-color: #ecf0f1;
  border-right: 1px solid blueblack;
  border-bottom: 1px solid slategray;
  padding-left: 20px;
  padding-right: 20px;
}

.Row li.date {
  line-height: 300%;
  font-size: 20px;
  text-align: center;
  flex-basis: 200px;
  background-color: #ecf0f1;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid slategray;
  border-bottom: 1px solid slategray;
}

.row_content.appear {
  border-style: solid;
  border-width: 1px;
  display: flex;
  width: 100%;
  min-height: 100px;
  height: 200px;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  background-color: slategrey;
  transition: height 2s;
}

.row_content.hide {
  width: 100%;
  height: 0px;
  font-size: 0px;
}
