.Row ul{
	margin: 0;
	display:flex;
	/*flex했지뭐야~*/
}


.Row li.title{
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: left;
	border-right: 2px solid #dfdfdf;
	flex-basis: 800px;
	background-color: #ECF0F1;
	padding-left:30px;
}

.Row li.name{
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	flex-basis: 160px;
	text-align: left;
	background-color: #ECF0F1;
    border-right: 2px solid #dfdfdf;
	padding-left: 20px;
	padding-right: 20px;
}

.Row li.date{
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	flex-basis: 160px;
	background-color: #ECF0F1;
	padding-left: 20px;
	padding-right: 20px;
    
}

