.Slide {
  position: absolute;
  display: flex;
  min-width: 1300px;
  width: 100%;
  height: calc(100% - 65px);

  .sider_bar_wrap {
    flex: 0 0 auto;
    width: 300px;
    height: 100%;

    border-right: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    transition-duration: 200ms;

    &.deactive {
      width: 0px;
    }

    .sider_bar {
      width: 300px;

      ul {
        list-style: none;
        padding-left: 10px;
      }

      h2,
      h3 {
        margin: 8px 0;
      }
    }
  }

  .slide_index_item {
    margin: 5px;
    overflow-wrap: break-word;
  }
  & > .sider_bar_button_wrap {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      width: 20px;
      height: 30px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 0px;
      transition-duration: 200ms;
    }
  }

  /* lectureNote */
  .lecture_note_wrap {
    flex: 1 1 auto;
    display: flex;
    font-size: 25px;

    .lecture_note_item {
      margin: 0 auto;
      width: 1300px;

      &.deactive {
        display: none;
      }

      & > hr {
        margin: 15px 0 30px 0;
      }
    }
  }
}
