.LiveCoding .Input {
  display: flex;
  position: absolute;
  top: 0px;
  right: 15px;
  width: 900px;
  height: 99%;
}

.LiveCoding .Input .resizer {
  position: absolute;
  top: 0px;
  left: 3px;
  flex: 0 0 5px;
  cursor: col-resize;
  z-index: 1;
  background-color: aqua;
}

.LiveCoding .Input fieldset {
  padding: 0;
  margin: 0;
  height: 100%;
}

.LiveCoding .Input legend {
  display: flex;
  align-items: baseline;
  margin-left: 10px;
  margin-right: auto;
}

.LiveCoding .Input legend > div {
  margin-left: 5px;
  color: grey;
}
.LiveCoding .Input legend > div:last-child {
  margin-right: 5px;
}
.LiveCoding .Input legend > div.active {
  color: black;
  font-size: larger;
}

.LiveCoding .Input textarea {
  border: 0px;
  width: 900px;
  height: calc(100% - 70px);
  resize: none;
  display: none;
}
.LiveCoding .Input textarea:focus {
  outline: none;
}
.LiveCoding .Input textarea.active {
  display: block;
}
